body {
    font-family: 'Segoe UI', sans-serif;
    background: #f1f5f9;
}

.container {
    width: 90%;
    margin: 40px auto;
}

h2 {
    color: #1e3a8a;
}

/* BUTTON */
button {
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* FILTER */
.filters {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

th {
    background: #2563eb;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background: #f8fafc;
}
/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 6px;
}

.pagination button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background: #e5e7eb;
    cursor: pointer;
    transition: 0.3s;
}

/* HOVER EFFECT */
.pagination button:hover {
    background: #2563eb;
    color: white;
}

/* ACTIVE PAGE */
.pagination .active {
    background: #2563eb;
    color: white;
    font-weight: bold;
}

/* DATE INPUT */
input[type="date"] {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    outline: none;
    transition: 0.3s;
}

input[type="date"]:focus {
    border-color: #2563eb;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}

.filters {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.filters label {
    font-weight: 500;
}