body {
    font-family: 'Segoe UI', sans-serif;
    background: #f1f5f9;
}

.container {
    width: 750px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

h2 {
    text-align: center;
    color: #1e3a8a;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #2563eb;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

/* DROPDOWN */
select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    width: 100%;
}

/* BUTTON */
button {
    display: block;
    margin: 25px auto;
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
}

/* ERROR */
#error {
    text-align: center;
    color: red;
}